<html>

<head>
		<style>
			h1{
				font-size: x-large;
				font-family: Verdana;
				font-style: italic;
				text-align: center;
			}
			h3{
				font-size: large;
				font-family: Verdana;
				font-style: italic;
				text-align: center;
			}
		</style>
    <title>Authorization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
		<h1>Log in before start</h1>
        <h3>Enter your Login and Password</h3>
        <br>
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
            <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
    </div>
</body>

</html>